.about-us {
  background-color: #f4ecfd;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.about-us .div {
  background-color: #f4ecfd;
  overflow: hidden;
  width: 1920px;
  height: 5400px;
  position: relative;
}

.about-us .footer {
  position: absolute;
  width: 1920px;
  height: 707px;
  top: 4693px;
  left: 0;
}

.about-us .desc {
  position: absolute;
  width: 1676px;
  height: 700px;
  top: 1099px;
  left: 127px;
}

.about-us .overlap {
  position: relative;
  width: 1672px;
  height: 700px;
}

.about-us .overlap-group {
  position: absolute;
  width: 1672px;
  height: 700px;
  top: 0;
  left: 0;
}

.about-us .text-wrapper {
  position: absolute;
  width: 1047px;
  top: 107px;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 96px;
  letter-spacing: 0;
  line-height: 100px;
  white-space: nowrap;
}

.about-us .image {
  position: absolute;
  width: 712px;
  height: 700px;
  top: 0;
  left: 960px;
}

.about-us .p {
  position: absolute;
  width: 870px;
  top: 264px;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 60px;
}

.about-us .specialists {
  position: absolute;
  width: 1925px;
  height: 1157px;
  top: 2011px;
  left: 0;
}

.about-us .overlap-2 {
  position: relative;
  width: 1920px;
  height: 1157px;
  background-image: url(./img/rectangle-22.svg);
  background-size: 100% 100%;
}

.about-us .text-wrapper-2 {
  position: absolute;
  width: 961px;
  top: 100px;
  left: 480px;
  font-family: "Montserrat", Helvetica;
  font-weight: 900;
  color: #4d1787;
  font-size: 96px;
  text-align: center;
  letter-spacing: 0;
  line-height: 100px;
}

.about-us .vetenarian {
  position: absolute;
  width: 1555px;
  height: 568px;
  top: 466px;
  left: 182px;
}

.about-us .doctor {
  position: relative;
  height: 568px;
}

.about-us .edeline {
  position: absolute;
  width: 333px;
  height: 568px;
  top: 0;
  left: 404px;
}

.about-us .pexels-tessy {
  position: absolute;
  width: 307px;
  height: 430px;
  top: 0;
  left: 11px;
}

.about-us .text-wrapper-3 {
  position: absolute;
  width: 329px;
  top: 476px;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: var(--text-colour-1);
  font-size: 27.6px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.about-us .text-wrapper-4 {
  position: absolute;
  width: 269px;
  top: 551px;
  left: 31px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #7d51ad;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.about-us .dion {
  position: absolute;
  width: 311px;
  height: 568px;
  top: 0;
  left: 0;
}

.about-us .img {
  position: absolute;
  width: 307px;
  height: 430px;
  top: 0;
  left: 0;
}

.about-us .text-wrapper-5 {
  position: absolute;
  width: 232px;
  top: 476px;
  left: 37px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: var(--text-colour-1);
  font-size: 27.6px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.about-us .text-wrapper-6 {
  width: 184px;
  left: 61px;
  position: absolute;
  top: 551px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #7d51ad;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.about-us .susan {
  position: absolute;
  width: 311px;
  height: 568px;
  top: 0;
  left: 829px;
}

.about-us .text-wrapper-7 {
  position: absolute;
  width: 302px;
  top: 476px;
  left: 2px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: var(--text-colour-1);
  font-size: 27.6px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.about-us .text-wrapper-8 {
  width: 182px;
  left: 62px;
  position: absolute;
  top: 551px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #7d51ad;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.about-us .john {
  position: absolute;
  width: 320px;
  height: 568px;
  top: 0;
  left: 1239px;
}

.about-us .pexels-mikhail-nilov {
  position: absolute;
  width: 307px;
  height: 430px;
  top: 0;
  left: 5px;
}

.about-us .text-wrapper-9 {
  position: absolute;
  width: 316px;
  top: 476px;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: var(--text-colour-1);
  font-size: 27.6px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.about-us .text-wrapper-10 {
  width: 197px;
  left: 59px;
  position: absolute;
  top: 551px;
  font-family: "Poppins", Helvetica;
  font-weight: 700;
  color: #7d51ad;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.about-us .text-wrapper-11 {
  position: absolute;
  width: 923px;
  top: 328px;
  left: 499px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 22px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.about-us .visi-misi {
  position: absolute;
  width: 1671px;
  height: 706px;
  top: 3222px;
  left: 126px;
}

.about-us .overlap-3 {
  position: absolute;
  width: 1677px;
  height: 510px;
  top: 196px;
  left: 0;
}

.about-us .mission {
  position: absolute;
  width: 799px;
  height: 510px;
  top: 0;
  left: 0;
}

.about-us .overlap-group-2 {
  position: relative;
  width: 794px;
  height: 513px;
  top: -3px;
  left: 5px;
}

.about-us .ellipse {
  position: absolute;
  width: 87px;
  height: 81px;
  top: 15px;
  left: 13px;
  border-radius: 43.57px/40.42px;
  transform: rotate(-26.41deg);
  background: linear-gradient(180deg, rgb(158.16, 101.95, 219.27) 0%, rgba(176.12, 128.48, 227.91, 0) 100%);
  opacity: 0.5;
}

.about-us .rectangle {
  position: absolute;
  width: 751px;
  height: 462px;
  top: 51px;
  left: 43px;
  background-color: #7d51ad;
  border-radius: 30px;
  box-shadow: 10px 10px 30px #0000001a;
}

.about-us .vision {
  position: absolute;
  width: 1564px;
  height: 510px;
  top: 0;
  left: 113px;
}

.about-us .overlap-4 {
  position: absolute;
  width: 799px;
  height: 510px;
  top: 0;
  left: 757px;
}

.about-us .ellipse-2 {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 16px;
  left: 16px;
  border-radius: 45.06px;
  transform: rotate(-30deg);
  background: linear-gradient(180deg, rgb(158.16, 101.95, 219.27) 0%, rgba(176.12, 128.48, 227.91, 0) 100%);
  opacity: 0.5;
}

.about-us .rectangle-2 {
  position: absolute;
  width: 751px;
  height: 454px;
  top: 56px;
  left: 48px;
  background-color: #7d51ad;
  border-radius: 30px;
  box-shadow: 10px 10px 30px #0000001a;
}

.about-us .text-wrapper-12 {
  position: absolute;
  width: 377px;
  top: 106px;
  left: 121px;
  font-family: "Montserrat", Helvetica;
  font-weight: 900;
  color: #e6cfff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.about-us .sentence {
  position: absolute;
  width: 639px;
  top: 210px;
  left: 121px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 42px;
}

.about-us .text-wrapper-13 {
  position: absolute;
  width: 333px;
  top: 107px;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 900;
  color: #e6cfff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.about-us .sentence-2 {
  position: absolute;
  width: 665px;
  top: 205px;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 42px;
}

.about-us .text-wrapper-14 {
  position: absolute;
  width: 961px;
  height: 196px;
  top: 0;
  left: 349px;
  font-family: "Montserrat", Helvetica;
  font-weight: 900;
  color: var(--text-colour-2);
  font-size: 96px;
  text-align: center;
  letter-spacing: 0;
  line-height: 100px;
}

.about-us .join {
  position: absolute;
  width: 1758px;
  height: 656px;
  top: 3928px;
  left: 31px;
}

.about-us .overlap-5 {
  position: relative;
  width: 1754px;
  height: 656px;
}

.about-us .rectangle-3 {
  position: absolute;
  width: 1650px;
  height: 304px;
  top: 212px;
  left: 104px;
  background-color: #b080e3;
  border-radius: 40px;
}

.about-us .ellipse-3 {
  position: absolute;
  width: 138px;
  height: 138px;
  top: 381px;
  left: 495px;
  border-radius: 68.75px;
  transform: rotate(-60deg);
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.5;
}

.about-us .join-us-to-give-the {
  position: absolute;
  width: 972px;
  top: 317px;
  left: 760px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 40px;
}

.about-us .text-wrapper-15 {
  position: absolute;
  width: 836px;
  top: 248px;
  left: 161px;
  font-family: "Montserrat", Helvetica;
  font-weight: 800;
  color: var(--white);
  font-size: 39.8px;
  letter-spacing: 0;
  line-height: 47px;
  white-space: nowrap;
}

.about-us .ellipse-4 {
  position: absolute;
  width: 138px;
  height: 138px;
  top: 154px;
  left: 1556px;
  border-radius: 68.75px;
  transform: rotate(30deg);
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  opacity: 0.5;
}

.about-us .element {
  position: absolute;
  width: 775px;
  height: 656px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.about-us .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: flex-start;
  position: absolute;
  top: 414px;
  left: 1343px;
}

.about-us .label-wrapper {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 282px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 35px;
  position: relative;
  background-color: var(--dark);
  border-radius: 100px;
  margin-top: 20px;
  margin-left: 150px;
}

.about-us .label {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.about-us .header {
  position: absolute;
  width: 1920px;
  height: 894px;
  top: 86px;
  left: 0;
  background-color: transparent;
  border-radius: 0px 0px 32px 32px;
  overflow: hidden;
  background: radial-gradient(50% 50% at 50% 50%, rgb(156.58, 109.04, 208.25) 0%, rgb(125.79, 81.79, 173.61) 100%);
}

.about-us .overlap-6 {
  position: relative;
  width: 1076px;
  height: 198px;
  top: 302px;
  left: 422px;
}

.about-us .header-2 {
  position: absolute;
  width: 1076px;
  height: 197px;
  top: 0;
  left: 0;
  font-family: "Montserrat", Helvetica;
  font-weight: 900;
  color: #ffffff;
  font-size: 128px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.about-us .rectangle-4 {
  position: absolute;
  width: 770px;
  height: 39px;
  top: 159px;
  left: 153px;
  background-color: #ddbffe;
}

.about-us .navbar {
  display: flex;
  width: 1920px;
  align-items: center;
  justify-content: space-between;
  padding: 20px 162px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e6cfff;
}

.about-us .logo {
  position: relative;
  width: 282px;
  height: 45px;
}

.about-us .name {
  position: absolute;
  top: 4px;
  left: 65px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.about-us .overlap-group-wrapper {
  position: absolute;
  width: 47px;
  height: 51px;
  top: -4px;
  left: 4px;
  transform: rotate(10.31deg);
}

.about-us .overlap-group-3 {
  position: relative;
  width: 51px;
  height: 56px;
  top: 1px;
}

.about-us .group {
  position: absolute;
  width: 40px;
  height: 37px;
  top: 16px;
  left: 9px;
  transform: rotate(-10.31deg);
}

.about-us .ellipse-5 {
  position: absolute;
  width: 5px;
  height: 5px;
  top: 24px;
  left: 22px;
  transform: rotate(-10.31deg);
}

.about-us .ellipse-6 {
  position: absolute;
  width: 11px;
  height: 14px;
  top: 5px;
  left: 8px;
  transform: rotate(-10.31deg);
}

.about-us .ellipse-7 {
  position: absolute;
  width: 10px;
  height: 15px;
  top: 1px;
  left: 23px;
  transform: rotate(-10.31deg);
}

.about-us .ellipse-8 {
  position: absolute;
  width: 9px;
  height: 11px;
  top: 13px;
  left: 34px;
  background-color: #ff8b94;
  border-radius: 4.54px/5.38px;
  transform: rotate(31.88deg);
}

.about-us .ellipse-9 {
  position: absolute;
  width: 9px;
  height: 11px;
  top: 19px;
  left: 2px;
  background-color: #ff8b94;
  border-radius: 4.55px/5.37px;
  transform: rotate(-34.92deg);
}

.about-us .nav {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
  position: relative;
  flex: 0 0 auto;
}

.about-us .navbar-2 {
  display: inline-flex;
  align-items: center;
  gap: 26px;
  position: relative;
  flex: 0 0 auto;
}

.about-us .text-wrapper-16 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.about-us .log-in {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 14px 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: #7d51ad;
  border-radius: 8px;
}

.about-us .text-wrapper-17 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Font Awesome 5 Free-Solid", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.about-us .text-wrapper-18 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.about-us .sign-up {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 33px;
  padding: 14px 11px 14px 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 8px;
}

.about-us .text-wrapper-19 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #7d51ad;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
  white-space: nowrap;
}

.about-us .chevron-right {
  position: relative;
  width: 18px;
  height: 18px;
}